.theme-switch-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  top: 1em;
  left: 1em;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
  background-size: cover;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  width: 85%;
  height: 70%;
  transition: 0.9s;
}

.slider:before {
  background-color: orange;
  top: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.4s;
  width: 50%;
}

input:checked + .slider {
  background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
  background-size: cover;
  transition: 0.9s;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: #fff;
}

.slider.round {
  border-radius: 34px;
  box-shadow: 0px 2px 5px 1px gray;
  transition: all 0.9s;
}

.slider.round:before {
  border-radius: 50%;
}
